
@{
    ViewData["Title"] = "Index";
}

<h1>Game Scores</h1>


<table id="ScoresTable" class="SortableTable">
    <thead>
        <tr>
            <th data-columnname="PrettyDate">Date</th>
            <th data-columnname="Location">Location</th>
            <th data-columnname="Player1Name">Player 1</th>
            <th data-columnname="Player2Name">Player 2</th>
            <th data-columnname="Match1Player1Score" data-type="numeric">Match1 Player 1 Score</th>
            <th data-columnname="Match1Player2Score" data-type="numeric">Match1 Player 2 Score</th>
            <th data-columnname="Match2Player1Score" data-type="numeric">Match2 Player 1 Score</th>
            <th data-columnname="Match2Player2Score" data-type="numeric">Match2 Player 2 Score</th>
            <th data-columnname="commands" data-formatter="commands" data-sortable="false">Commands</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>



@section scripts
    {

        <script type="text/javascript">
        // Basic grid
           let grid =  $("#ScoresTable").jmkAjaxGridView({
                primaryKeyName: "ID",
                ajaxLoadBindMethod: "/Score/LoadRows",
                orderBy: "Title",
                orderDirection: "ASC",
                rowLoadBinding: function (e, rowLoadBindingEventArgs) {
                    let data = rowLoadBindingEventArgs.data;
                    return {
                        ID: data.ID,
                        PrettyDate: data.PrettyDate,
                        Location: data.Location,
                        Player1Name: data.Player1Name,
                        Player2Name: data.Player2Name,
                        Match1Player1Score: data.Match1Player1Score,
                        Match1Player2Score: data.Match1Player2Score,
                        Match2Player1Score: data.Match2Player1Score,
                        Match2Player2Score: data.Match2Player2Score,
                    };
                },
            });
            
        </script>
}
