
@{
    ViewData["Title"] = "About";
}

<h1 class="text-center">About</h1>
<br />
<br />
<p>
    Capital Splats Racquetball Association (The Capital Splats) was founded in 2010 to establish a friendly place
    for LGBTQ and Allies in the Greater Washington D.C. Metropolitan Area to play racquetball, learn and/or enhance
    racquetball skills, and meet other players.
</p>

<hr />

<p>
    <strong>Racquetball League</strong>

    Our league runs for 4 months and features a season-ending tournament.  There are five divisions:

    <ul>
        <li>A+ > elite/open-level</li>
        <li>A- > expert</li>
        <li>B > advanced</li>
        <li>C > intermediate</li>
        <li>D > beginner</li>
    </ul>
</p>

<p>
    Players within each division play each other
    during the season to be counted toward league standings and may also play any other players in the league for fun.
</p>

<p>
    In addition, the league hosts periodic casual events such as:
    <ul>
        <li>in-season singles tournaments</li>
        <li>doubles tournaments</li>
        <li>open house and meet-and-greet tournaments</li>
    </ul>
</p>


