@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Capital Splats Racquetball !</h1>
    <br/><br/>
    <div>
    <p><strong>Capital Splats</strong> is an LGBTQ and Ally non-profit racquetball organization located in the 
    Washington DC metro area. We run a competitive league, one-day racquetball tournaments, 
    teaching clinics, and other events. Our organization features players of all skill level 
    and experience. We welcome newcomers who have never picked up a racquet all the way through 
    experienced tournament players.</p>
        </div>
    <div>
        <p><strong>Capital Splats</strong> is a member of <a href="http://www.teamdc.org/">Team DC</a></p>
    </div>
</div>
